@use 'variables';
@use 'mixins';
@use 'animations';

:root {
    color-scheme: light dark;
}

body {
    color: light-dark(variables.$light-text, variables.$dark-text);
    background-color: light-dark(variables.$light-bg, variables.$dark-bg);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin: 10px 0;
}

img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

.logo {
    color: light-dark(variables.$light-text, variables.$dark-text);
    font-size: 1.5rem;
    margin: 0;
    text-decoration: none;
}

.header-firstpage {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url('/public/pic1.jpg');
}

@media (prefers-color-scheme: dark) {
    .header-firstpage {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('/public/pic1.jpg')
    }
}

.header {
    @extend .header-firstpage;
    height: 30vh;
}


.page-header{
    background-color: light-dark(
    rgba(variables.$light-bg, 0.7),
    rgba(variables.$dark-bg, 0.7)
    );
}

.wrapper-header {
    @include mixins.wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 0 20px;

    li {
        list-style: none;
    }

    a {
        font-size: 0.9rem;
        text-decoration: none;
        color: light-dark(variables.$light-text, variables.$dark-text);
    }
    a:hover {
        color: variables.$color-terracotta;
    }
    .active {
        color: variables.$color-terracotta;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        z-index: 9999;
        top: 60px;
        left: 0;
        width: 100%;
        background: light-dark(variables.$light-bg, variables.$dark-bg);
        display: none;
    }

    .main-nav {
        flex-direction: column;
        gap: 16px;
        padding: 20px;
        font-size: 1.2rem;
    }

    #menu-toggle:checked + .menu-icon + nav {
        display: block;
    }
}

.hero {
    @include mixins.wrapper;
    margin-top: 20vh;

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 1.1rem;
        font-weight: 400;
        max-width: 60ch;
        line-height: 1.7;
        margin: 15px 0;
    }

    .red-button {
        @include mixins.button(variables.$color-terracotta, true);
        margin-right: 10px;
    }
    .button {
        @include mixins.button($rounded: true);
        margin-right: 10px;
    }
}

.established {
     @include mixins.transparent-btn;
}

.wrapper-body {
    @include mixins.wrapper;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    ul {
        margin-top: 0;
    }

    button {
        @include mixins.button(variables.$color-terracotta, $rounded: true);
        width: auto;
        align-self: center;
        margin-top: 20px;
    }
}

.text-block {
    margin: 30px 0 20px 0;
    text-align: center;
}

.highlighted {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

footer {
    border-top: 1px solid variables.$color-terracotta;
}

.wrapper-footer {
    @include mixins.wrapper;
    display: flex;
    gap: 40px;
}

.footer-item {
    flex-basis: 33%;

    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        padding-bottom: 5px;
    }
    a {
        color: light-dark(variables.$light-text, variables.$dark-text);
    }
    a:hover {
        color: variables.$color-terracotta;
    }
}

.copyright {
    text-align: center;
}

.title-animation {
    margin-top: 10px;
    font-size: 3rem;
    animation-name: titleAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    text-align: center;
}

.flexbox {
    display: flex;
    gap: 30px;
}
.flex-child {
    flex-basis: 50%;
    align-content: center;
}

.fly-in-left {
    animation: flyinLeft 1s ease-out forwards;
}

.fly-in-right {
    animation: flyinRight 1s ease-out forwards;
}

.gif {
    width: 50px;
    height: auto;
    animation: runTheWorld 8s 1 linear 0.5s paused;
    position: relative;
    left: -50px;
    top: 4px;
}

.chart-container {
    position: relative;
    height: 70vh;
    width: 70vw;
}