@use "sass:color";
@use 'variables';

@mixin wrapper ($max-width: 1100px, $padding: 20px 40px) {
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding;
}

@mixin button($bgColor: #121212, $rounded: false) {
    background-color: $bgColor; 
    border: none;
    color: white;
    font-size: 1em;
    padding: 15px 20px;
    cursor: pointer;
    

    @if $rounded {
        border-radius: 10px;
    }

    &:hover {
        background-color: color.scale($bgColor, $lightness: 20%);
    }
}

@mixin transparent-btn() {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid rgba(variables.$color-terracotta, 0.53);
    background:  rgba(variables.$color-terracotta, 0.2); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    color: variables.$color-terracotta;
}